# ==================== COMPILED CLASS FILES ====================
*.class

# ==================== PACKAGE FILES ====================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==================== LOG FILES ====================
*.log
logs/
*.log.*
# ==================== IntelliJ =====================
.idea/